.loading_animation {
    padding: 1rem;
    display: flex;
    justify-content: center;
}

.loading_animation__item {
    width: .5rem;
    height: .5rem;
    border-radius: 50%;
    background-color: white;
    margin: .5rem;
    animation: loading_animation__item-wave infinite 1.5s;
}

.loading_animation__item:first-of-type {
    animation-delay: .5s;
}

.loading_animation__item:last-of-type {
    animation-delay: 1s;
}

@keyframes loading_animation__item-wave {
    0%, 100% {
        transform: scale(.5);
    }
    50% {
        transform: scale(1.5);
    }
}