.form__textarea {
    display: flex;
    flex-direction: column;
    padding: .5rem .2rem;
}

.form__textarea__title {
    font-size: .95rem;
    color: white;
    margin-bottom: .2rem;
    margin-left: .3rem;
}

.form__textarea__wrapper {
    border-radius: .5rem;
    background-color: #222529;
    border: 1px solid rgb(62, 68, 70);
    display: flex;
}

.form__textarea__value {
    background-color: transparent;
    min-height: 3rem;
    max-height: 6rem;
    border: none;
    outline: none;
    padding: .5rem;
    color: white;
    font: inherit;
    resize: vertical;
    width: 100%;
}

.form__textarea__value:disabled {
    color: #737985;
}

.form__textarea__value::-webkit-scrollbar {
    width: .5rem;
    border-radius: 0 .25rem .25rem 0;
}

.form__textarea__error {
    margin: .3rem;
}