.form__info {
    display: flex;
    margin: .5rem .2rem;
    padding: 0 .5rem;
    border-radius: .5rem;
    background-color: #172843;
    border: 1px solid rgb(26 26 71);
    align-items: center;
    height: 2.2rem;
    animation: form__info-scale .2s;
}

@keyframes form__info-scale {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}