.form__button {
    background-color: #3e424b;
    padding: .5rem 1rem;
    font-size: 1rem;
    border-radius: .25rem;
    border: 1px solid rgb(62, 68, 70);
    color: #fcfcfc;
    cursor: pointer;
    transition: opacity .2s;
    outline: none;
    text-decoration: none;
    user-select: none;
    text-align: center;
    width: 100%;
    margin: .5rem 0;
}

.form__button:not(:last-child) {
    margin-bottom: 0;
}

.form__button:hover {
    opacity: .8;
}