.form__close {
    cursor: pointer;
    transition: background-color .1s;
    border-radius: .25rem;
    padding: 0 !important;
    width: 2rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form__close:hover {
    background-color: #3e424b;
}