.form__select {
    display: flex;
    flex-direction: column;
    padding: .5rem .2rem;
    position: relative;
}

.form__select__title {
    font-size: .95rem;
    color: white;
    margin-bottom: .2rem;
    margin-left: .3rem;
}

.form__select__search {
    display: flex;
    position: relative;
    border-radius: .5rem;
    background-color: #222529;
    border: 1px solid rgb(62, 68, 70);
}

.form__select__search__input {
    background-color: transparent;
    border-radius: inherit;
    border: none;
    min-height: 1.8rem;
    outline: none;
    padding: .5rem;
    color: white;
    font-size: 1rem;
    width: 100%;
}

.form__select__search__clear {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 38px;
    cursor: pointer;
    transition: transform .2s;
    font-size: 1.5rem;
    color: #f7f7f7;
}

.form__select__search__clear:hover {
    transform: rotate(90deg);
}

.form__select__options {
    display: flex;
    flex-direction: column;
    border-radius: .25rem;
    position: absolute;
    top: 110%;
    width: 100%;
    max-height: 250px;
    overflow-y: scroll;
    background-color: #222529;
    border: 1px solid rgb(62, 68, 70);
    z-index: 1;
    color: #f7f7f7;
}

.form__select__options__value {
    width: 100%;
    cursor: pointer;
    padding: .5rem;
    box-sizing: border-box;
    font-size: .9rem;
    transition: background-color .1s;
}

.form__select__options__value:last-of-type {
    border-radius: 0 0 .25rem .25rem;
}

.form__select__options__value:hover {
    background-color: #2d3135;
}

.form__select__error {
    position: absolute;
    bottom: .6rem;
    right: .6rem;
}

.form__select__error__text {
    max-width: 200px;
    width: max-content;
    position: absolute;
    background-color: #202426;
    padding: .5rem 1.5rem;
    bottom: 125%;
    right: 0;
    font-size: .9rem;
    color: white;
    border-radius: .25rem;
    display: none;
}

.form__select__error__text::after {
    content: '';
    border: .5rem solid transparent;
    border-top-color: #202426;
    position: absolute;
    bottom: -1rem;
    right: .2rem;
}

.form__select__error__icon {
    color: red;
    cursor: default;
    font-size: 1rem;
}

.form__select__error:hover .form__select__error__text {
    display: block;
}