.user-cart {
    border: 1px solid rgb(62, 68, 70);
    width: 100%;
    padding: .5rem;
    box-sizing: border-box;
    border-radius: .25rem;
    background-color: #2b2e34;
    margin: 0.5rem;
    text-decoration: none;
    transition: background-color .2s;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.user-cart:hover {
    background-color: #272a2f;
}

.user-cart__info {
    margin-left: .5rem;
}

.user-cart__info > p {
    margin: 0;
}

.user-cart__info__fio {
    font-size: 1.2rem;
    color: #337fcc;
    text-decoration: none;
}

.user-cart__info__city {
    padding-top: .5rem;
    color: #7b8b91;
}

.user-cart__action__item {
    color: white;
    font-size: 1rem;
    padding: .5rem .7rem;
    display: block;
    margin: 0 .5rem;
}