.hidden_info {
    display: inline-block;
    margin-left: .3rem;
    position: relative;
    height: max-content;
}

.hidden_info__text {
    font-size: .9rem;
    color: #91a4ac;
    user-select: none;
    cursor: default;
}

.hidden_info__hidden {
    display: none;
    position: absolute;
    top: -170%;
    right: 0;
    width: max-content;
    background-color: #1f2022;
    padding: .4rem .5rem;
    border-radius: .25rem;
}

.hidden_info__hidden__text {
    font-size: .9rem;
    color: #c5c7cb;
}

.hidden_info__hidden__icon {
    content: '';
    border: .5rem solid transparent;
    border-top-color: #1f2022;
    position: absolute;
    bottom: -1rem;
    right: .8rem;
}

.hidden_info:hover .hidden_info__hidden {
    display: block;
}