.hidden_info {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: max-content;
}

.hidden_info__text {
    font-size: .9rem;
    color: #91a4ac;
    user-select: none;
    cursor: default;
    border-radius: .25rem;
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #363a41;
    border: 1px solid rgb(62, 68, 70);
    margin: 0 .2rem;
}

.hidden_info__hidden {
    display: none;
    position: absolute;
    justify-content: center;
    top: -2.5rem;
    width: max-content;
    background-color: #1f2022;
    padding: .4rem .5rem;
    border-radius: .25rem;
    z-index: 2;
}

.hidden_info__hidden__text {
    font-size: .9rem;
    color: #c5c7cb;
}

.hidden_info__hidden__icon {
    content: '';
    border: .5rem solid transparent;
    border-top-color: #1f2022;
    position: absolute;
    bottom: -1rem;
}

.hidden_info:hover .hidden_info__hidden {
    display: flex;
}