.post__header__info > *:not(:last-child) {
    margin-right: .5rem;
}

.post__header__info__link {
    font-size: 1.1rem;
    color: #337fcc;
    text-decoration: none;
    transition: opacity .1s;
}

.post__header__info__link:hover {
    opacity: .8;
}

.post__header__info__date {
    font-size: .9rem;
    color: #b0b0b0;
}

.post__header__actions {
    display: flex;
}

.post__header__actions > * {
    margin: 0 .25rem;
    cursor: pointer;
    font-size: 1.1rem;
    user-select: none;
    color: #f7f7f7;
    transition: color .1s;
}

.post__header__actions > *:hover {
    color: #b0b0b0;
}

.post__text {
    margin: .5rem 0;
    font-size: 1.1rem;
    color: #fcfcfc;
}