.table__body__row {
    display: flex;
    justify-content: space-between;
    width: 100%;
    color: #a2aaad;
    background-color: #2b2e34;
    border-bottom: 1px solid rgb(62, 68, 70);
}

.table__body__row:last-of-type:not(:first-of-type) {
    border-bottom: none;
}

.table__body__row:nth-of-type(odd) {
    background-color: #31353c;
}