.admin_panel {
    position: fixed;
    left: 0;
    top: 0;
    transform: translateX(-250px);
    width: 250px;
    border: none;
    height: 100vh;
    background-color: #2b2e34;
    transition: transform .2s, border-right .2s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 2;
}

.admin_panel-show {
    transform: translateX(0);
    border-right: 1px solid rgb(62, 68, 70);
    transition: transform .4s, border-right .4s;
}

.admin_panel__links {
    height: 100%;
    overflow: hidden;
}

.admin_panel__link {
    width: 100%;
    padding: 1rem;
    display: block;
    color: white;
    text-decoration: none;
    box-sizing: border-box;
    transition: background-color .1s;
}

.admin_panel__link:hover {
    background-color: #383c43;
}

.admin_panel__button-show {
    position: absolute;
    width: 20px;
    height: 60px;
    right: -21px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0 .25rem .25rem 0;
    background-color: #2b2e34;
    border: 1px solid rgb(62, 68, 70);
    border-left: none;
    color: white;
    cursor: pointer;
}