.admin_navigation {
    display: flex;
    flex-direction: column;
}

.admin_navigation__link {
    padding: 1rem 2rem;
    background-color: #2b2e34;
    border-radius: .25rem;
    border: 1px solid #3e424b;
    box-sizing: border-box;
    margin: .5rem;
    color: white;
    text-decoration: none;
    min-height: 5rem;
    display: flex;
    align-items: center;
    transition: background-color .1s;
    font-size: 1.1rem;
}

.admin_navigation__link:hover {
    background-color: #3e424b;
}