.error {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #2b2e34;
    border: 1px solid rgb(62, 68, 70);
    border-radius: .25rem;
    min-height: calc(100vh - 5rem);
}

.error__text {
    font-size: 1.2rem;
    color: white;
}

.error__link {
    font-size: 1.2rem;
    color: #337fcc;
    text-decoration: none;
}