.input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: max-content;
    margin: .7rem;
    position: relative;
    max-width: 350px;
}

.input__label {
    font-size: 1.3rem;
    margin-left: .5rem;
    color:  #b0b0b0;
}

.input__value {
    width: 350px;
    font-size: 1.2rem;
    padding: .5rem .7rem;
    outline: none;
    background-color: #181a1b;
    border-radius: .25rem;
    box-sizing: border-box;
    border: 1px solid rgb(62, 68, 70);
    color:  #f7f7f7;
}

.input__value:focus {
    box-shadow: 0 0 4px #3e4446;
}

.input__error {
    position: absolute;
    bottom: .6rem;
    right: .6rem;
}

.input__error__description {
    max-width: 200px;
    width: max-content;
    position: absolute;
    background-color: #202426;
    padding: .5rem 1.5rem;
    top: -200%;
    right: 0;
    color: white;
    border-radius: .25rem;
    display: none;
}

.input__error__description::after {
    content: '';
    border: .5rem solid transparent;
    border-top-color: #202426;
    position: absolute;
    bottom: -1rem;
    right: .2rem;
}

.input__error__icon {
    color: red;
    cursor: default;
}

.input__error:hover .input__error__description {
    display: block;
}