.profile-edit {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: .25rem;
    border: 1px solid rgb(62, 68, 70);
    background-color: #2b2e34;
    width: max-content;
    margin: .5rem auto;
}

.profile-edit__title {
    width: 100%;
    text-align: center;
    padding-bottom: 1rem;
    margin: .7rem .5rem;
    box-sizing: border-box;
    border-bottom: 1px solid rgb(62, 68, 70);
    color: white;
}

.profile-edit__title > h1 {
    font-size: 1.5rem;
    margin: 0;
}

.profile-edit__form {
    display: flex;
    flex-direction: column;
}