.messenger_message {
    width: max-content;
    margin: .5rem;
    display: flex;
    position: relative;
}

.messenger_message-right {
    align-self: flex-end;
}

.messenger_message__wrapper {
    padding: .5rem;
    max-width: 350px;
    background-color: #363a41;
    border: 1px solid rgb(62, 68, 70);
    border-radius: .25rem;
}

.messenger_message__wrapper > p {
    margin: 0;
}

.messenger_message__info {
    padding-bottom: .5rem;
}

.messenger_message__info__user {
    font-size: 1.1rem;
    margin-right: .5rem;
    color: #337fcc;
    text-decoration: none;
}

.messenger_message__info__date {
    font-size: .9rem;
    color: #91a4ac;
}

.messenger_message__text {
    color: #fcfcfc;
    font-size: 1rem;
    margin: 0;
    font-family: Roboto,-apple-system,BlinkMacSystemFont,'Helvetica Neue',Helvetica,sans-serif;
}

.messenger_message__actions {
    display: flex;
    height: max-content;
    justify-content: space-evenly;
    box-sizing: border-box;
    align-items: center;
    background-color: #363a41;
    border: 1px solid rgb(62, 68, 70);
    border-right: none;
    position: absolute;
    top: -1.5rem;
    z-index: 1;
    border-radius: .25rem;
    right: 5%;
    opacity: 0;
    transform: scale(0.5);
    transition: opacity .1s, transform .1s;
}

.messenger_message__actions > * {
    cursor: pointer;
    color: #f7f7f7;
    width: 1.8rem;
    height: 1.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .3rem;
    transition: background-color .1s;
}

.messenger_message__actions > *:hover {
    background-color: #3f444c;
}

.messenger_message__wrapper:hover .messenger_message__actions {
    opacity: 1;
    transform: scale(1);
}